<% provide(:title, 'O nas') %>

<h1>O nas</h1>
    <p>

 <b>
Serwis "WSAD"" jest projektem Politechniki Poznańskiej, którego autorami są:<br><br> Kamil Pludra     <br>oraz<br>
Paweł Brzeziński <br>        <br>


Tematem projektu jest:<br><br>
Rozwiązanie problemu WSAD bez ograniczeń z wspólnym terminem zakończenia. <br> <br>
      Wymagania funkcjonalne  <br>
      </b>
<ul>Wprowadzanie danych problemu za pomocą interaktywnego formularza.
</ul>
<ul>Wizualizacja wyników formie tekstowej oraz graficznej.
</ul>
<ul>Możliwość śledzenia kroków algorytmu.
</ul>

<br>
<b>Wymagania pozafunkcjonalne </b>    <br>


<ul>Przejrzysty interfejs użytkownika obsługiwany przez przeglądarkę internetową.

</ul>
<ul>Czas wygenerowania wyniku podany w jednostce czasowej [ms].

</ul>    <br>
<b>Technologie i architektura projektu </b>





<ul>Technologią, która jest po stronie klienta nazywaną front-end jest JavaScript.
</ul>
<ul>Technologią, która jest po stronie klienta nazywaną back-end jest Ruby on Rails.
</ul>
<ul>Algorytm problemu WSAD bez
ograniczeń z wspólnym terminem
zakończenia jest napisany w
języku Ruby.
</ul>

<ul>Elementy statyczne strony www są utworzone dzięki technologii HTML5 (HyperText Markup Language)
</ul>
<ul>Za przejrzystą grafikę strony www są odpowiedzialne kaskadowe arkusze stylów CSS3 (Cascading Style Sheets) oraz biblioteka Bootstrap 2.3.1.
</ul>

<ul>Projekt wykorzystuję architekturę MVC (Model-View-Controller), na której jest oparty framework Ruby on Rails.

</ul>

<ul>Klient po wyświetleniu widoku wysyła do aplikacji żądanie. Żądanie jest przyjmowane przez kontroler, który generuje odpowiedź w formie widoku wysyłanego do klienta

</ul>



<br>


<br><br>


</p>
