<% provide(:title, 'Pomoc') %>

<h1>Pomoc</h1>
  <p>
     <b>
          <br>
           Jeśli masz problemy z obsługą serwisu znajdź dotyczący Cię temat:
          <br><br>

          <u> Wpisywanie danych do formularza</u>  </b>
          <br>
       Aby rozpocząć korzystanie z szeregowania zadań należy wpisać następujące wartości:
       <br>
             <ul>
                Zadania po przecinku
             </ul>
             <ul>
                d – wspólny żądany termin zakończenia
             </ul>
             <ul>
              Alfa – jednostkowy koszt wykonania zadania PRZED terminem
             </ul>
             <ul>
              Beta – jednostkowy koszt wykonania zadania PO terminem
             </ul>



        <br><br><br><br>  <b>
           Jeśli masz większe problemy skontaktuj się z autorem serwisu
           <%= link_to "kontakt", kontakt_path %>. </b>




  </p>
